.header-image {
    background-image: url('../assets/wild.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px; 
    display: flex;
    align-items: center;
}
.header-image .text-center {
    width: 100%;
}
